{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}
<div class="media">
  <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
  <div class="media-body">
    <h1 class="mt-0">{{ program.title }}</h1>
    <p>{{ program.summary }}</p>
    <p>Catégorie : {{ program.category.name }}</p>
    {% for season in seasons %}
      <h4><a href="{{ path('program_season_show', {"seasonId": season.id, "programId": program.id}) }}">Saison {{ season.number }}</a></h4>
      <h4>{{ season.description }}</h4>
    {% endfor %}
    <a href="/season/new"><button>New Season</button></a>
    <a href="/episode/new"><button>New Episode</button></a>
  </div>
</div>
<p><a href="{{ path('program_index') }}">
    Retour à la liste des programmes
</a></p>
{% endblock %}